.randomRecipeContainer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.randomRecipeHeader {
  margin: 0;
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
}
.randomRecipeImage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.image {
  border-radius: 10px;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
  width: 70%;
  font-size: 1rem;
}
.randomRecipeTitle {
  color: #f0bc89;
  margin: 0 50px;
}
.btnContainer {
  width: 100%;
  display: flex;
}
.generateRecipe {
  background-color: #f0bc89;
  width: 100%;
  border: none;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}
.generateRecipe:hover {
  background-color: #fda966;
}
.randomRecipeDetails {
  display: flex;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}
.randomRecipeDetails h3 {
  margin-top: 0;
}
.ingredientList {
  width: 30%;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li {
  margin: 10px 0;
}
.instructionsContainer {
  list-style: none;
  margin: 0;
  width: 70%;
  padding: 0 20px;
}
.instructions {
  margin: 10px 0;
}
